*::highlight(textlint-error) {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--errorColorScaleAccent);
}

*::highlight(textlint-error-active) {
  background-color: rgba(255, 68, 68, 0.15);
}

*::highlight(textlint-error-focus) {
  background-color: rgba(255, 68, 68, 0.3);
}
